html,body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 20px;
  height: 500px;
  background-color: #f2f2f2;
}

.item {
  display: flex;
  width: 200px;
  height: 100px;
  background-color: lightblue;
}
